<div class="container">
	<div class="chat-wrapper">
		<ul id="chat"></ul>
	</div>

	<div class="chat-form-wrapper">
		<form id="chat-form">
			<input type="type" name="message" id="message">
			<input type="submit" value="SEND">
		</form>
	</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/chat.js"></script>