<nav>
	<h1>Guia</h1>
</nav>
</header>
<main>
	<section class="section-html-ct">
		<ul>
			<h2>Prentrega 02</h2>
			<h3 class="guia-title-product">Products</h3>
			<ol>
				<h4 class="guia-subTitle-product">endopoints con vista</h4>
				{{!-- [x] --}}
				<li><span class="method-group method-mongo">GET</span><a class="main-list main-list-method method-mongo-link"
						href="/api/vista/products">/api/vista/products</a>
				</li>
				{{!-- [x] --}}
				<li><span class="method-group method-mongo">GET</span><a class="main-list main-list-method method-mongo-link"
						href="/api/vista/products/654266f80c4f1593d852d1fb">/api/vista/products/654266f80c4f1593d852d1fb</a>
				</li>
				{{!-- [x] --}}
				<li><span class="method-group method-mongo">GET</span><a class="main-list main-list-method method-mongo-link"
						href="/api/vista/products?limit=3">/api/vista/products?limit=3</a>
				</li>
				{{!-- [x] --}}
				<li><span class="method-group method-mongo">GET</span><a class="main-list main-list-method method-mongo-link"
						href="/api/vista/products?sort=ascd">/api//vista/products?sort=ascd</a>
				</li>
				{{!-- [x] --}}
				<li><span class="method-group method-mongo">GET</span><a class="main-list main-list-method method-mongo-link"
						href="/api/vista/products?page=2">/api/vista/products?page=2</a>
				</li>
				{{!-- [x] --}}
				<li><span class="method-group method-mongo">GET</span><a class="main-list main-list-method method-mongo-link"
						href="/api/vista/products?limit=3&page=2&sort=desc">/api/vista/products?limit=3&page=2&sort=desc</a>
				</li>

			</ol>

			<ol>
				<h4 class="guia-subTitle-product">endopoints sin vista</h4>
				{{!-- [x] --}}
				<li><span class="method-group method-mongo">GET</span><a class="main-list main-list-method method-mongo-link"
						href="/api/products">/api/products</a>
				</li>
				{{!-- [x] --}}
				<li><span class="method-group method-mongo">GET</span><a class="main-list main-list-method method-mongo-link"
						href="/api/products/654266f80c4f1593d852d1fb">/api/products/654266f80c4f1593d852d1fb</a>
				</li>
				{{!-- [x] --}}
				<li><span class="method-group method-chat">POST</span><span class="main-list main-list-method
					method-chat-link">/api/products</span>
				</li>
				{{!-- [x] --}}
				<li><span class="method-group method-hds">PUT</span><span class="main-list main-list-method
					method-hds-link">/api/products/654266f80c4f1593d852d1fb</span>
				</li>
				{{!-- [x] --}}
				<li><span class="method-group method-json">DELETE</span><span class="main-list main-list-method
					method-json-link">/api/products/654266f80c4f1593d852d1fb</span>
				</li>
			</ol>



			<h3 class="guia-title-product">Carts</h3>
			<ol>
				<h4 class="guia-subTitle-product">endopoints con vista</h4>
				{{!-- [x] --}}
				<li><span class="method-group method-mongo">GET</span><a class="main-list main-list-method method-mongo-link"
						href="/api/vista/carts">/api/vista/carts</a>
				</li>
				{{!-- [x] --}}
				<li><span class="method-group method-mongo">GET</span><a class="main-list main-list-method method-mongo-link"
						href="/api/vista/carts/65426c5f4b5face80e96732c">/api/vista/carts/65426c5f4b5face80e96732c</a>
				</li>
			</ol>
			<ol>
				<h4 class="guia-subTitle-product">endopoints sin vista</h4>
				{{!-- [x] --}}
				<li><span class="method-group method-chat">POST</span><span
						class="main-list main-list-method method-chat-link">/api/carts/65426c5f4b5face80e96732c</span>
				</li>
				{{!-- [x] --}}
				<li><span class="method-group method-chat">POST</span><span
						class="main-list main-list-method method-chat-link">/api/carts</span>
				</li>
				{{!-- [x] --}}
				<li><span class="method-group method-chat">POST</span><span
						class="main-list main-list-method method-chat-link">/api/carts/6542ebee3aaeaff59fd1f9f1/products/6542e3043aaeaff59fd1f8f1</span>
				</li>
				{{!-- [x] --}}
				<li><span class="method-group method-hds">PUT</span><span
						class="main-list main-list-method method-hds-link">/api/carts/65426c614b5face80e967334</span>
				</li>
				{{!-- [x] --}}
				<li><span class="method-group method-hds">PUT</span><span
						class="main-list main-list-method method-hds-link">/api/carts/65426c614b5face80e967334/products/654266f80c4f1593d852d202</span>
				</li>

				{{!-- [x] --}}
				<li><span class="method-group method-json">DELETE</span><span
						class="main-list main-list-method method-json-link">/api/carts/65426c614b5face80e967334/products/654266f80c4f1593d852d1fa</span>
				</li>
				{{!-- [x] --}}
				<li><span class="method-group method-json">DELETE</span><span
						class="main-list main-list-method method-json-link">/api/carts/6542c26edffd9d4b24c4892e</span>
				</li>
			</ol>
		</ul>
	</section>
</main>


</body>

</html>