<div class="container">
	<a class="mockups" href="/api/mockingproducts">Entrega de Mockups</a>
	{{#if user}}
	{{/if}}
	{{#if (eq pageTitle "Producto")}}
	{{>card-product}}
	{{/if}}
	{{#if (eq pageTitle "Productos")}}
	{{>card-products}}
	{{/if}}
	{{#if (eq pageTitle "Signup")}}
	{{>form-user-signup}}
	{{/if}}
	{{#if (eq pageTitle "Login")}}
	{{>form-user-signup}}
	{{/if}}
</div>