<div class="container">
	{{#if user}}
	{{/if}}
	{{#if (eq pageTitle "Producto")}}
	{{>card-product}}
	{{/if}}
	{{#if (eq pageTitle "Productos")}}
	{{>card-products}}
	{{/if}}
	{{#if (eq pageTitle "Signup")}}
	{{>form-user-signup}}
	{{/if}}
	{{#if (eq pageTitle "Login")}}
	{{>form-user-signup}}
	{{/if}}
	{{#if (eq pageTitle "Reset Password")}}
	{{>form-user-reset}}
	{{/if}}
</div>