<div class="form-user-signup-ctn">
	<div class="form-user-signup">
		<form class="form-user-signup--ctn" method="post" action="/api/user/premiun/{{user}}">
			<h1 class="page-title form-user-title">{{pageTitle}}</h1>

			<label class="form-user-label" for="rol">Cambiar Rol </label>
			<select class="select-carts-ctn category" name="rol">
				<option value="USER">USER</option>
				<option value="PREMIUN">PREMIUN</option>
			</select>

			<input class="form-user-button change-password" type="submit" value="Submit">
		</form>
	</div>
</div>